{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="features">

        <h1>Открытия сезона 2021-2022!!!</h1>

             <div class="images">
            <img src="static/main/img/car1.jpg" width = "500px" height = "500px"/>
                 <img src="static/main/img/car2.jpg" width = "500px" height = "500px"/>
                 <img src="static/main/img/car3.jpg" width = "500px" height = "500px"/>
                 <img src="static/main/img/car4.jpg" width = "500px" height = "500px"/>
                 <img src="static/main/img/car53.jpg" width = "500px" height = "500px"/>
                 <img src="static/main/img/car6.jpg" width = "500px" height = "500px"/>
                 <img src="static/main/img/car7.jpg" width = "500px" height = "500px"/>
                 <img src="static/main/img/car8.jpg" width = "500px" height = "500px"/>
        </div>

    </div>

{% endblock %}


